@media screen and (min-width: 700px) {
  body {
    margin: 0 0 0 0;
  }

  h3 {
    margin-top: 1px;
    font-size: 12px;
    font-family: "Poiret One", cursive;
  }
  h1 {
    margin-top: 0;
  }

  .name_place {
    display: block;
    position: fixed;
    left: 50px;
    top: 25px;
  }

  .Name {
    text-align: center;
    position: relative;
    margin: 0;
    top: 170px;
    font-size: 200px;
    font-family: "Allura", cursive;
  }
  .myName {
    margin: 0 0 0 0;
    font-size: 13px;
    font-family: "Noto Serif TC", serif;
  }

  .Work_About {
    margin-top: 0;
    font-size: 14px;

    font-family: "Libre Baskerville", serif;
    position: fixed;
    top: 10px;
    left: 85%;
  }

  .work {
    display: inline;
    position: relative;
    right: 18px;
  }

  .aboutMe {
    display: inline;
    position: relative;
  }

  .mailImg {
    display: inline;
    position: relative;
    left: 20px;
    top: 10px;
    width: 30px;
  }

  .Intro {
    font-size: 15px;
    text-align: center;
    position: relative;
    margin: 0;
    top: 140px;
    font-family: "Crimson Pro", serif;
  }

  .mainDiv {
    margin: 0 0 0 0;
  }

  .headerDiv {
    height: 700px;
    background-color: #dfd5f2;
  }

  .middleDiv {
    display: block;
    position: relative;

    height: 146.875em;
    width: 100%;
    font-family: "Playfair Display", serif;

    background-color: #80558c;
  }

  .skills {
    position: relative;
    top: 2%;
    font-family: "Cormorant SC", serif;
    text-align: center;
    font-size: 500%;
  }

  .bottomDiv {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #dfd5f2;
  }

  .cDiv {
    display: block;
    position: absolute;
    left: 10em;
    top: 10%;
  }

  .cImg {
    width: 45%;
  }

  .cName {
    display: block;
  }

  .cPara {
    position: relative;
    left: 17.5rem;
    bottom: 17.1875rem;
    font-family: "Alegreya", serif;
    font-size: 1.5rem;
  }

  .cppDiv {
    display: block;
    position: absolute;
    top: 36.5em;
    right: 1%;
  }
  .cppImg {
    position: relative;
    left: 180px;
    width: 50%;
  }
  .cppName {
    display: block;
    position: relative;
    text-align: right;
    right: 5.3em;
  }

  .cppPara {
    position: relative;
    bottom: 310px;
    right: 330px;
    font-family: "Alegreya", serif;
    font-size: 1.5rem;
  }

  .javaDiv {
    display: block;
    position: absolute;
    left: 10em;
    top: 57em;
  }

  .javaImg {
    width: 45%;
  }

  .javaName {
    position: relative;
    left: 80px;
  }

  .javaPara {
    position: relative;
    left: 17.5rem;
    bottom: 17.1875rem;
    font-family: "Alegreya", serif;
    font-size: 1.5rem;
  }

  .htmlDiv {
    display: block;
    position: absolute;
    top: 75em;
    right: 1%;
  }

  .htmlImg {
    position: relative;
    left: 180px;
    width: 50%;
  }

  .htmlName {
    display: block;
    position: relative;
    text-align: right;
    right: 4.9em;
  }
  .htmlPara {
    position: relative;
    bottom: 260px;
    right: 330px;
    font-family: "Alegreya", serif;
    font-size: 1.5rem;
  }

  .cssDiv {
    display: block;
    position: absolute;
    left: 10em;
    top: 98em;
  }

  .cssImg {
    width: 45%;
  }

  .cssName {
    position: relative;
    left: 80px;
  }

  .cssPara {
    position: relative;
    left: 17.5rem;
    bottom: 17.1875rem;
    font-family: "Alegreya", serif;
    font-size: 1.5rem;
  }

  .jsDiv {
    display: block;
    position: absolute;
    top: 119em;
    right: 1%;
  }

  .jsImg {
    position: relative;
    left: 180px;
    width: 50%;
  }

  .jsName {
    display: block;
    position: relative;
    text-align: right;
    right: 4.1em;
  }

  .jsPara {
    position: relative;
    bottom: 300px;
    right: 330px;
    font-family: "Alegreya", serif;
    font-size: 1.5rem;
  }

  .letsTalk {
    text-align: center;
    position: relative;
    margin: 0;
    top: 170px;
    font-size: 200px;
    font-family: "Allura", cursive;
  }

  .instagram {
    width: 48px;
    position: absolute;
    top: 55%;
    left: 10%;
  }

  .linkedin {
    width: 48px;
    position: absolute;
    top: 55%;
    left:30%;
  }

  .facebook {
    width: 48px;
    position: absolute;
    top: 55%;
    left: 50%;
  }
  .discord {
    width:48px;
    position: absolute;
    top: 55%;
    left: 70%;
  }

  .mail {
    width: 48px;
    position: absolute;
    top: 55%;
    left: 90%;

  }
  .header {
    display: block;
    height: 3800px;
  }
  .footer {
    width: 100%;
    height: 13%;
    background-color: #80558c;
    position: absolute;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  body {
    margin: 0 0 0 0;
  }
  h3 {
    margin-top: 1px;
    font-size: 15px;
    font-family: "Poiret One", cursive;
  }

  h1 {
    margin-top: 0;
  }

  .name_place {
    display: block;
    position: absolute;
    left: 15%;
    top: 25px;
  }

  .myName {
    margin: 0 0 0 0;
    font-size: 13px;
    font-family: "Noto Serif TC", serif;
    display: inline;
  }

  .place {
    margin-left: 10px;
    font-size: 13px;
    display: inline;
  }

  .Work_About {
    margin-top: 0;
    font-size: 14px;

    font-family: "Libre Baskerville", serif;
    position: absolute;
    top: 40px;
  }
  .work {
    display: inline;
    position: relative;
    left: 100px;
  }
  .aboutMe {
    display: inline;
    position: relative;
    left: 115px;
  }

  .mailImg {
    display: inline;
    position: relative;
    left: 135px;
    top: 8px;
    width: 25px;
  }

  .Name {
    text-align: center;
    position: relative;
    margin: 0;
    top: 170px;
    font-size: 100px;
    font-family: "Allura", cursive;
  }

  .Intro {
    font-size: 15px;
    text-align: center;
    position: relative;
    margin: 20px 0 0 0;
    top: 140px;
    font-family: "Crimson Pro", serif;
  }

  .mainDiv {
    width: 100%;
    margin: 0 0 0 0;
  }

  .headerDiv {
    height: 600px;
    background-color: #dfd5f2;
  }

  .middleDiv {
    display: block;
    position: relative;
    height: 2350px;
    width: 100%;
    font-family: "Playfair Display", serif;
    background-color: #80558c;
    text-align: center;
  }
  .skills {
    position: relative;
    top: 2%;
    font-family: "Cormorant SC", serif;
    text-align: center;
    font-size: 500%;
  }

  .cDiv {
    display: block;
    position: absolute;
    top: 10%;
  }
  .cImg {
    position: relative;

    width: 35%;
  }
  .cName {
    position: relative;
    top: 30px;
    font-size: 35px;
  }
  .cPara {
    display: none;
    position: relative;
    left: 130px;
    bottom: 140px;
    font-family: "Alegreya", serif;
    font-size: 11.2px;
    line-height: 15px;
  }

  .cppDiv {
    display: block;
    position: absolute;
    top: 23%;
  }
  .cppImg {
    position: relative;
    width: 35%;
  }
  .cppName {
    display: block;
    position: relative;
    top: 30px;
    font-size: 35px;
  }
  .cppPara {
    display: none;
  }
  .javaDiv {
    display: block;
    position: absolute;
    top: 36%;
  }
  .javaName {
    display: block;
    position: relative;
    top: 30px;
    font-size: 35px;
  }
  .javaPara {
    display: none;
  }

  .javaImg {
    position: relative;
    width: 35%;
  }

  .htmlDiv {
    display: block;
    position: absolute;
    top: 49%;
  }

  .htmlImg {
    position: relative;
    width: 35%;
  }
  .htmlName {
    display: block;
    position: relative;
    top: 30px;
    font-size: 35px;
  }
  .htmlPara {
    display: none;
  }
  .cssDiv {
    display: block;
    position: absolute;
    top: 63%;
  }
  .cssImg {
    position: relative;
    width: 35%;
  }

  .cssPara {
    display: none;
  }

  .cssName {
    display: block;
    position: relative;
    top: 30px;
    font-size: 35px;
  }

  .jsDiv {
    display: block;
    position: absolute;
    top: 76%;
    right: 1%;
  }
  .jsImg {
    position: relative;
    width: 35%;
  }
  .jsName {
    display: block;
    position: relative;
    top: 30px;
    font-size: 35px;
  }

  .jsPara {
    display: none;
  }

  .letsTalk {
    text-align: center;
    position: relative;
    margin: 0;
    top: 33%;
    font-size: 100px;
    font-family: "Allura", cursive;
  }
  .instagram {
    width: 10%;
    position: absolute;
    top: 55%;
    left: 15%;
  }
  .linkedin {
    width: 10%;
    position: absolute;
    top: 55%;
    left: 30%;
  }
  .facebook {
    width: 10%;
    position: absolute;
    top: 55%;
    left: 45%;
  }

  .discord {
    width: 10%;
    position: absolute;
    top: 55%;
    left: 60%;
  }

  .mail {
    width: 10%;
    position: absolute;
    top: 55%;
    left: 75%;
  }
  .bottomDiv {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #dfd5f2;
  }

  .header {
    display: block;
    height: 3700px;
  }
  .footer {
    width: 100%;
    height: 13%;
    background-color: #80558c;
    position: absolute;
    display: block;
    text-align: center;
  }
}
